<ion-view title="<strong>TSNews Today : {{title}}</strong>">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list list-inset" ng-if="posts.length != 0">
            <a href="#/app/story/{{d.ID}}" class="item item-avatar" ng-repeat="d in posts">
                <img src="{{d.featured_image.attachment_meta.sizes.thumbnail.url}}">
                <label ng-bind-html="d.title" style="vertical-align: middle; line-height: 38px;"></label>
            </a>

        </div>
        <button class="button button-block button-assertive" disabled ng-if="posts.length == 0 && loaded">
            No Story
        </button>
        <button class="button button-block button-positive" ng-click="loadMore()"
                ng-if="(posts.length % 5 ) == 0 && posts.length != 0 && loadMoreStatus">
            Load More Stories(+)
        </button>
    </ion-content>
</ion-view>
