<ion-view title="TSNewsToday">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="scrolling">
            <div class="scrolleft">Breaking News</div>
            <div class="scrollright">
                <marquee class="scrollitem" onmouseover="this.setAttribute('scrollamount', 0, 0);"
                         onmouseout="this.setAttribute('scrollamount', 3, 0);" scrollamount="3" scrolldelay="50"
                         direction="left" behavior="scroll">
                    <a href="#/app/story/{{d.ID}}" rel="bookmark"
                       ng-repeat="d in posts">
                        <label ng-bind-html="d.title"></label></a>
                </marquee>
            </div>
        </div>
        <div class="chpcs_image_carousel"  ng-if="aImages.length > 0">
            <div align="center"
                 style="text-align: center; margin-top: 40px; border: solid 1px #000000">
                <ion-slide-box show-pager="false">
                    <ion-slide ng-repeat="oImage in aImages">
                        <div class="chpcs_foo_content" style="height: 210px; margin-right: 6px;">
                    <span class="chpcs_img">
                        <img ng-src="{{oImage.featured_image.attachment_meta.sizes.thumbnail.url}}"
                             style="max-width: 70%"/>
                        </span>
                            <br>
                    <span class="chpcs_title">
                        <a>{{oImage.title}}</a>
                        </span><br></div>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="chpcs_clearfix"></div>
            <a class="chpcs_prev" id="wa_chpc_slider_prev" href="#" style="display: block;"><span>‹</span></a><a
                class="chpcs_next" id="wa_chpc_slider_next" href="#" style="display: block;"><span>›</span></a></div>
        <div class="list card">

            <a href="#/app/category/{{d.name}}/{{d.slug}}" class="item item-icon-left" ng-repeat="d in categories">
                <label ng-bind-html="d.name"></label>
            </a>
            <a href="#/telugu/dashboard" class="item item-icon-left" ng-show="categories.length!=0">
                తెలుగు వెర్షన్
            </a>
        </div>
    </ion-content>
</ion-view>
