<ion-view title="<strong>TSNews Today</strong>">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="scrolling">
            <div class="scrolleft">Breaking News</div>
            <div class="scrollright">
                <marquee class="scrollitem" onmouseover="this.setAttribute('scrollamount', 0, 0);"
                         onmouseout="this.setAttribute('scrollamount', 3, 0);" scrollamount="3" scrolldelay="50"
                         direction="left" behavior="scroll">
                    <a href="#/app/story/{{d.ID}}" rel="bookmark"
                       ng-repeat="d in posts">
                        <label ng-bind-html="d.title"></label></a>
                </marquee>
            </div>
        </div>
        <div class="chpcs_image_carousel" ng-if="aImages.length > 0">
            <div align="center"
                 style="text-align: center; border: solid 1px #000000">
                <ion-slide-box show-pager="false">
                    <ion-slide ng-repeat="oImage in aImages">
                        <div class="chpcs_foo_content" style="height: 210px; margin-right: 6px;">
                    <span class="chpcs_img">
                        <a href="#/app/story/{{oImage.ID}}"><img
                                ng-src="{{oImage.featured_image.attachment_meta.sizes.thumbnail.url}}"
                                style="max-width: 70%"/></a>
                        </span>
                            <br>
                    <span class="chpcs_title">
                        <!--<a href="#/app/gallery/{{oImage.ID}}/{{oImage.title}}" >{{oImage.title}}</a>-->
                        <a href="#/app/story/{{oImage.ID}}">
                            <label ng-bind-html="oImage.title"></label>
                        </a>
                        </span><br></div>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="chpcs_clearfix"></div>
            <a class="chpcs_prev" id="wa_chpc_slider_prev" style="display: block;"
               data-ng-click="previousSlide()"><span>‹</span></a><a
                class="chpcs_next" id="wa_chpc_slider_next" style="display: block;"
                data-ng-click="nextSlide()"><span>›</span></a>
        </div>
        <div class="list list-inset">

            <a href="#/app/category/{{d.name}}/{{d.slug}}" class="item item-icon-left" ng-repeat="d in engCategories">
                <label ng-bind-html="d.name" style="font-weight: bolder"></label>
            </a>
            <a href="#/telugu/dashboard" class="item item-icon-left" style="color: #33cd5f" ng-show="categories.length!=0">
                తెలుగు వెర్షన్
            </a>
        </div>
    </ion-content>
</ion-view>
