<ion-view title="<strong>TSNews Today</strong>">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list card">

            <div class="item">
                <!--<img src="mcfly.jpg">
-->
                <h2 align="center" ng-bind-html="story.title" style="text-align: center; font-weight: bolder"></h2>

                <!-- <p>November 05, 1955</p>-->
            </div>

            <div class="item item-body">
                <!--<img class="full-image" src="delorean.jpg">-->

                <div ng-bind-html="story.content" align="center" style="text-align: center">
                </div>

            </div>

            <!--<div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>-->

        </div>

    </ion-content>
</ion-view>